@import url(../palette.css);

body {
	display: flex;
}

/* Star Icons */
.rating-icon-star--selected {
	color: var(--denim-100);
}

.rating-icon-star--unselected {
	color: var(--denim-200);
}

.plus-sign {
}

.check-sign {
}

.icons-navbar {
}

.icon-box {
	padding: 0;
	width: 24px;
	height: 24px;
}
