/* Please only use these colors! */

:root {
	--medium-grey: #e0e4e8;
	--light-grey: #f8f8f8;

	--denim-200: #193251;
	--denim-100: #7589a2;

	--tangerine-100: #ff5a36;
	--tangerine-200: #ff9c86;
	--tangerine-300: #ffbdaf;
	--tangerine-400: #ffded7;
}
