@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url(./palette.css);

.title,
.body--large,
.body--small,
.headline,
.headline--uppercase,
.label {
	font-family: "opensans";
}

.title {
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: var(--denim-100);
}

.body--large {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.body--small {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.headline--uppercase {
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
}

.headline {
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
}

.label {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}
